*.out
*.txt
initial-utilities/wcat/wcat
initial-utilities/wgrep/wgrep
initial-utilities/wgrep/.vscode/*
initial-utilities/*/tests-out/
Update.log
/initial-utilities/wzip/wzip
/initial-utilities/wzip/*.zip
/initial-utilities/wunzip/wunzip